:root {
    --Teal500: hsl(179, 62%, 43%);
    --Green400: hsl(71, 73%, 54%);
    --Teal100: hsl(204, 43%, 93%);
    --Gray500: hsl(218, 22%, 67%);
}

*{
    box-sizing: border-box;
}

body {
    background: var(--Teal100);
    font-family:"Karla", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    width: 33%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    color: var(--Gray500);
}

.box-top {
    text-align: left;
    padding: 10px;
}

.box-top h2 {
    color: var(--Teal500);
    margin-bottom: 10px;
}

.money-back {
    color: var(--Green400);
    font-weight: bold;
    margin-bottom: 15px;
}

.box-bottom {
    display: flex;
    background: var(--Teal500);
    color: white;
}

.subscription, .why-us {
    width: 50%;
    padding: 10px;
}

.subscription {
    background: #2bb3b1;
}

.subscription h3, .why-us h3 {
    margin-bottom: 15px;
}

.price {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

.price span {
    font-size: 14px;
    font-weight: normal;
    opacity: 0.8;
}

.subscription button {
    width: 100%;
    padding: 12px;
    background: #bcea4e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}


ul{
    list-style: none;
    padding: 0;
    line-height:1.5;
    opacity:0.8;

}

.why-us {
    background:#4abebd;
}

.why-us-text {
    padding: 12px;
}
/*Pro zařízení menší než 768px bude aplikována tato media query*/
@media screen and (max-width: 768px) {

    .box-bottom{
        flex-direction: column;
    }

    .why-us, .subscription {
        width: 100%;
    }
}


